
.center-text {
    text-align: center;
}

.left-text{
    text-align: left;
}
.bottom-margin {
    margin-bottom: 30px;
}


.left-margin{
    margin-left:15%;
}

.right-margin{
    margin-right:15%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
  } 

.doc-image{
    /* text-align: center; */
    width: 800px;
    margin: 0 auto;  
}

.doc-image-smaller{
    /* text-align: center; */
    width: 600px;
    margin: 0 auto;  
}

.doc-image-smallest{
    /* text-align: center; */
    width: 400px;
    margin: 0 auto;  
}


.flex-item {
    flex: 1 0 26%;
    margin: 5px;
    width: 20%; 
  }


hr {
    width: 80%;
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;
}
